.container {
  width: 100%;
  position: relative;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: all 300ms;
}

.button-white {
  background-color: black;
  color: white;
}

.button:hover {
  transform: scale(1.1);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-evenly {
  margin: 0;
  justify-content: space-evenly;
}

.page-header {
  background-color: white;
  color: black;
  padding: 1rem;
  alignment: center;
  text-align: center;
}

.page-title {
  display: inline-flex;
  margin: 0;
  text-align: center;
  alignment: center;
}

#paska {
  width: 100%;
  height: 100%;
}

#paketti {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

#map {
    height: 50em;
    width: 80em;
}