html {
  background-image: url("img/pinesL.jpg");
  background-repeat: no-repeat;
  font-family: "Calibri";
}

.modal-header {
  color: #521356;
  background-color: rgba(169, 169, 169, 0.41);
  text-align: center;
}

.modal-body {
  text-align: center;
  color: #521356;
}

.name {
  text-align: center;
}

body {
  padding: 5rem;
  width: 70%;
  height: 60%;
  margin: auto;
  background-color: transparent;
}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: all 300ms;
}

.button-white {
  background-color: #521356;
  color: white;
}

.button:hover {
  transform: scale(1.1);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.space-evenly {
  margin: 0;
  justify-content: center;
}


.page-header {
  color: rgba(86, 15, 75, 0.94);
  padding: 1rem;
  text-align: center;
  background-color: rgba(218, 185, 185, 0.47);
}

.page-title {
  display: inline-flex;
  margin: 0;
  position: center;
}

#gamecontent {
  position: relative;
  margin: auto;
}

#banner {
  background-color: whitesmoke;
  color: #521356;
  text-align: center;
}

#paska {
  width: 50px;
  height: 50px;
  padding-top: 1rem;
}

#paketti {
  width: 50px;
  height: 50px;
  padding-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

#map {
    height: 40em;
    width: 100%;
    margin: auto;
}

#kakkaNappain {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border: #88a9b2 2px solid;
  border-radius: 2em;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 400;
}

#kakkaNappain:hover {
  cursor: pointer;
}

#infoLaatikko {
  background-color: rgba(82, 19, 86, 0.49);
  height: 5rem;
  width: 100%;
  position: absolute;
}

#countdown {
  text-align: center;
  bottom: 10px;
  z-index: 999;
  left: 10px;
  color: white;
  outline-color: #521356;
}

#VaiheVaihtuu {
  text-align: center;
  color: #521356;
  background-color: #f4f4f4;
}

#ok {
  text-align: center;
  background-color: #521356;
  color: #f4f4f4;
}

#HyvaLoppuModal {
  text-align: center;
  background-color: #f4f4f4;
  color: #521356;
}

#HyvaRestart {
  text-align: center;
  background-color: #521356;
  color: #f4f4f4;
}

#HuonoLoppuModal {
  text-align: center;
  background-color: #521356;
  color: #f4f4f4;
}

#HuonoRestart {
  text-align: center;
  background-color: #f4f4f4;
  color: #521356;
}

.body {
  padding: 2rem;
}